{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
